<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book a Room</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Rooms for the chosen dates, available and taken</h2>
  
  <form action ="/createbooking" method="post">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Price</th>
        <th>Image</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <% room.forEach(function(room) { %>
      <tr>
        
        <td><%= room.number %></td>
        <td><%= room.type %></td>
        <td><%= room.price %></td>
        <td><%= room.image %></td>
        <td><%= room.description %></td>
          
              <form action="/createbooking" method="post">
                <td>
                  <% if(room.availability === "Not Available") { %>
                    <input type="submit" value="Book" disabled>
                  <% } else { %>
                    <form action="/createbooking" method="post">
                        <input type="hidden" name="room_id" value="<%= room.id %>">
                        <input type="hidden" name="startDate" value="<%= dates.startDate %>">
                        <input type="hidden" name="endDate" value="<%= dates.endDate %>">
                        <input type="submit" value="Book">
                    </form>
                  <% } %>
              
              </form>
          </td>
      </tr>
      <% }); %>
    </tbody>
   
  </table>
</form>
</div>

</body>
</html>